<section class="characters">

    <aside class="favourites">
      <span class="favourites__heart">❤︎</span>
      <p class="favourites__msg js-fav-title">Guarda aquí tus personajes favoritos</p>
      <ul class="favourites__list js-favourites-list">
      </ul>
      <div class="reset">
        <button class="reset__button js-favs-reset" type="reset" title="Reset Button"><i class="fa-solid fa-trash-can"></i>Reset</button>
      </div>
    </aside>

    <ul class="list-characters js-list-characters">
    </ul>
    
</section>