// fonts
$mainFont: 'Montserrat', sans-serif;

// colors
$greenSelected: #93cc7a;
$secondgreen: #6abd46; 
$backgroundBlack: #181818;
$backgroundFavourites: #c5c7c4;
$backgrounColorCharacters: #313131;
