.main{
    background-color: $backgroundBlack;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.characters{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    font-family: $mainFont;
    color: white;
    text-align: center;
}

.favourites{
    background-color: $backgroundFavourites;
    width: 20%;
    border-radius: 10px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__heart{
        font-size: 45px;
        color: $greenSelected;
        transform: translateY(-50%);
    }

    &__msg{
        color: black;
    }   
}

.reset{
    border: solid 1px white;
    border-radius: 15px;
    padding: 1px 10px;
    position: relative;

    &__button{
        width: 100px;
        margin: 10px;
        position: relative;
        font-family: $mainFont;
        background-color: transparent;
        border-color: $greenSelected;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;
        color: black;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background-color: $greenSelected;
            color: black;
        }
        .fa-trash-can {
        color: black;
        }
    }
    
}

.list-characters{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    :hover{
        cursor: pointer;
    }
}

.character{
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 4px 0 white;
    background-color: rgb(49, 49, 49);
    margin: 5px;
    border-radius: 5px;

    &__img{
        width: 150px;
        height: 200px;
        object-fit: cover;
        margin: 10px;
    }
}

.selected{
    background-color: $greenSelected;
    color: black;
}

.hidden{
    display: none;
}