.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.characters{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.favourites{
    width: 20%;
    border: solid 2px black;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.list-characters{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    :hover{
        cursor: pointer;
    }
}

.character{
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
    margin: 5px;

    &__img{
        width: 150px;
        height: 200px;
        object-fit: cover;
        margin: 10px;
    }
}

.selected{
    background-color: #3FA64E;
}

.hidden{
    display: none;
}