.form{
    width: 500px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;

    &__search{
        width: 400px;
        height: 30px;
        border-radius: 2px;
    }
    &__btn{
        width: 70px;
        height: 30px;
        border-radius: 2px;
        cursor: pointer;
    }
}